[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AntsNet"]
	path = AntsNet
	url = https://github.com/ylevental/isomorphismsim_full
